$font-stack:    Helvetica, sans-serif;

body {
  font: 100% $font-stack;
  background-color: black;
}

canvas {
  background-color: lightgrey;
}

.container {
  position: absolute;
  left: calc(50% - 600px / 2);
}